header {
    background-color: rgba(0,0,0,1);

  }

  body{
    background: #fff url(https://d1a3f4spazzrp4.cloudfront.net/web-fresh/pattern-grid@1x.jpg) repeat left top;
    background-size: 20px;
  }
.case_main{
  margin:80px 100px;

}

.case_header_wrapper{
  padding: 10px;
  background-color: white;
  position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.case_header{

  text-align: center;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.case_header_image{
  width: 100%;
}

.case_header_image img{
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
}




.case_header_image img {
    -webkit-animation: zoom 50s; /* Chrome, Safari, Opera */
    animation: zoom 50s;
}

.case_header_title{
  font-weight: lighter;
  position: absolute;
  right:0px;
  bottom:50px;
  padding: 20px 50px;
  background-color: rgba(0,0,0,0.6);
}

.case_header_title h1{
  color:white;

    font-weight: lighter;
  margin: 5px;
  font-size: 40px;
}

.case_header_title p{
  margin: 5px;
  color:white;
}

.case_content_area{
  overflow: hidden;
  margin-top:20px;
  padding: 50px;
  background-color: white;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.case_content_area_left{
  width: 50%;
  float: left;
  position: relative;
}

.case_content_area_right{
  width: 50%;
  float: left;
  position: relative;
}

.info_grid{

}

.info_grid h2{
  padding-left: 5px;
  color:#629bb0;
  font-weight: 100;
  font-size: 30px;
  border-left: 3px solid #629bb0;
}

.info_grid p{
  font-weight: 300;
  width: 80%;
  padding:30px 30px;
  color:#95a5a6;
  line-height: 25px;

  letter-spacing: 1px;
}

.info_grid p::first-letter {
    font-size: 200%;
    color: #629bb0;

}

.pic_grid{
}

.pic_grid_img{
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 10px;
  border-radius:50%;
  border:5px solid #ecf0f1;
  float: left;
}

.pic_grid_img img{
  width: 100%;
}

.other_case{
  margin: 50px 0px;
}

.other_case h1{
  font-weight: lighter;
  padding-bottom: 2px;
  border-bottom: 1px solid #bdc3c7;
}


@media (max-width: 768px) {
  .case_main{
    margin:80px 20px;

  }

  .case_header_wrapper{
    padding: 5px;
    background-color: white;
    position: relative;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .case_header{
    height: 180px;
  }

  .case_header_title{
    font-weight: lighter;
    position: absolute;
    right:0px;
    bottom:20px;
    padding: 10px 30px;
    background-color: rgba(0,0,0,0.6);
  }


  .case_content_area_left{
    width: 100%;

  }

  .case_content_area_right{
    width: 100%;

  }


  .case_header_title h1{
    color:white;
    
      font-weight: lighter;
    margin: 5px;
    font-size: 30px;
  }

  .case_header_title p{
    margin: 5px;
    color:white;
  }

  .case_content_area{
    margin-top:10px;
    padding: 20px;
  }

  .info_grid h2{
    padding-left: 5px;
    color:#629bb0;
    font-weight: 100;
    font-size: 25px;
    border-left: 3px solid #629bb0;
  }

  .info_grid p{
    font-weight: 300;
    width: 90%;
    padding:10px 10px;
    color:#95a5a6;
    line-height: 25px;

    letter-spacing: 1px;
  }

}
