@import url(http://fonts.googleapis.com/css?family=Raleway:200,500,700,800);

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}


html{
	margin:0;
	padding:0;
	width:100%;
}

body{
	margin:0;
	padding:0;
	width:100%;


	font-family: 'Lato', sans-serif;
	position: relative;
	background-color: #ecf0f1;
}

/*header {
		z-index: 2;
    background-color: rgba(255,255,255,1);
    height: 50px;
    color:#34495e;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}*/

/*.carvertise_logo_top
{
	margin:15px 20px;
	font-size: 20px;
}

.tabs_top{
	position:absolute;
	top:0px;
	right:0px;
	padding:15px;
}

@media (max-width: 768px) {

.tabs_top{display: none;}
}


.tabs_top_mobile
{
	display: none;
	position:absolute;
	top:0px;
	right:0px;
	padding:10px;

}

.tabs_top_mobile img{
	width:30px;
}

@media (max-width: 768px) {

.tabs_top_mobile
{
	display:inline;
}
}

.single_tab
{
	color:#34495e;
	margin:0px 30px;
	font-size: 20px;
}
.nav-up {
    top: -50px;
}*/


.header{
	position:relative;
	padding-top:150px;
	padding-bottom:150px;
	  box-shadow: inset 0px -10px 10px rgba(0,0,0,0.4);
	color:white;
	background-color: rgba(0,0,0,0.2);
	text-align: center;
}

.header h1{
	font-size: 50px;
	font-weight: lighter;
	letter-spacing: 2px;
}
@media (max-width: 768px) {

	.header
{
	text-align: center;
	padding:100px 0px;
	 background-image:url("https://pixabay.com/static/uploads/photo/2015/01/14/18/41/home-office-599475_960_720.jpg");
 background-position: center;
  background-size: auto 100%;
  color:white;
}

	.header h1
{
	font-size:30px;
}
}

.header_line{
	width: 50%;
	height: 1px;
	background-color: white;
}

/*.header_image{
	display: inline-block;
	width:200px;
	border:5px solid white;
	border-radius: 20px;
	overflow: hidden;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.header_image img{
	width: 100%;
}*/

.case_study_area{
	/*background-image: -webkit-repeating-radial-gradient(center center, rgba(97,153,174,0.2), rgba(97,153,174,0.2) 1px, transparent 1px, transparent 100%);
background-size:4px 4px;
	background-color: #ecf0f1;*/
	background: #fff url(https://d1a3f4spazzrp4.cloudfront.net/web-fresh/pattern-grid@1x.jpg) repeat left top;
  background-size: 20px;
	overflow: hidden;

	position: relative;
	min-height: 500px;
z-index: 5;
}

.case_area_wrapper{
		margin: 50px 100px;
	z-index: 5;
}

@media (max-width: 480px) {
	.case_area_wrapper{
			margin: 20px 20px;
	}
}

/*.case_area_up{
	top:-60px;
		z-index: 5;
}*/

.case_area{

	position: relative;

	z-index: 5;
}

.block{
	width: 33.3%;
	position: relative;
	float: left;
	overflow: hidden;
	z-index: 5;
}


@media (max-width: 768px) {
	.block{
	cursor:pointer;
	float:Left;
	width:50%;
	overflow:hidden;
	position:relative;
}
}

@media (max-width: 480px) {
	.block{
	cursor:pointer;
	float:Left;
	width:100%;
	overflow:hidden;
	position:relative;
}
}


.inner_block{
	cursor: pointer;
	position: relative;
	margin: 15px 20px;
	height: 300px;

	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

	transition: all 0.2s ease-in-out;
}

@media (max-width: 768px) {
	.inner_block{
		height: 200px;
	}
}

.inner_block:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.inner_block img {
    -webkit-transition: all 3s ease; /* Safari and Chrome */
    -moz-transition: all 3s ease; /* Firefox */
    -ms-transition: all 3s ease; /* IE 9 */
    -o-transition: all 3s ease; /* Opera */
    transition: all 3s ease;
}

.inner_block:hover img {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
}


.block_img{
	overflow: hidden;
	height:300px;
	position: relative;
	background-color: black;
}

@media (max-width: 768px) {
	.block_img{
		height: 200px;
	}
}

.block_content{
	position: absolute;
	bottom:0px;
	color: white;
	height:80px;
	padding:10px;

	background: black; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* Standard syntax */
	/*border-bottom: 1px solid #ecf0f1;*/
}

.block_content h3{
	margin: 0px;
	font-weight: lighter;
	font-size: 22px;
}

.block_content p{
	margin: 0px;
	font-weight: lighter;
	font-size: 13px;
	height: 30px;
	width: 80%;
	overflow: hidden;
}

.block_footer{
	padding:5px 10px;
		color:#bdc3c7;
		position: absolute;
		bottom: 0px;
	right: 0px;

}

.block_img img{
	min-width: 100%;
	max-width: 150%;
	height: 100%;

  position: relative;
	left:-20%;

}
