html{
	margin:0;
	padding:0;
	width:100%;
}

body{
	margin:0;
	padding:0;
	width:100%;
	position: relative;
	background-color: #ecf0f1;
}

header {
		z-index: 2;
    background-color: rgba(255,255,255,1);
    height: 50px;
    color:#34495e;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}

.carvertise_logo_top
{
	margin:15px 20px;
	font-size: 20px;
}

.tabs_top{
	position:absolute;
	top:0px;
	right:0px;
	padding:15px;
}

@media (max-width: 768px) {

.tabs_top{display: none;}
}


.tabs_top_mobile
{
	display: none;
	position:absolute;
	top:0px;
	right:0px;
	padding:10px;

}

.tabs_top_mobile img{
	width:30px;
}

@media (max-width: 768px) {

.tabs_top_mobile
{
	display:inline;
}
}

.single_tab
{
	color:#34495e;
	margin:0px 30px;
	font-size: 20px;
}
.nav-up {
    top: -50px;
}


.header
{
	padding-top: 50px;
	padding-bottom: 30px;
	color:white;
	background-color: #6199AE;
	text-align: center;
}

.header h1{
	font-size: 40px;
}

.header_line{
	width: 50%;
	height: 1px;
	background-color: white;
}

.header_image{
	display: inline-block;
	width:200px;
	border:5px solid white;
	border-radius: 20px;
	overflow: hidden;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.header_image img{
	width: 100%;
}

.case_area_wrapper{
		margin: 50px 100px;
}

@media (max-width: 480px) {
	.case_area_wrapper{
			margin: 20px 20px;
	}
}

.case_area{

	position: relative;
}

.block{
	width: 33.3%;
	position: relative;
	float: left;
	overflow: hidden;
}


@media (max-width: 768px) {
	.block{
	cursor:pointer;
	float:Left;
	width:50%;
	overflow:hidden;
	position:relative;
}
}

@media (max-width: 480px) {
	.block{
	cursor:pointer;
	float:Left;
	width:100%;
	overflow:hidden;
	position:relative;
}
}


.inner_block{
	cursor: pointer;
	position: relative;
	margin: 15px 10px;
	height:400px;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

	transition: all 0.2s ease-in-out;
}

@media (max-width: 768px) {
	.inner_block{
		height: 300px;
	}
}

.inner_block:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.inner_block img {
    -webkit-transition: all 3s ease; /* Safari and Chrome */
    -moz-transition: all 3s ease; /* Firefox */
    -ms-transition: all 3s ease; /* IE 9 */
    -o-transition: all 3s ease; /* Opera */
    transition: all 3s ease;
}

.inner_block:hover img {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
}


.block_img{
	overflow: hidden;
	width: 100%;
	height:300px;
	background-color: black;
}

@media (max-width: 768px) {
	.block_img{
		height: 200px;
	}
}

.block_content{
	height:50px;
	padding:10px;
	color:#7f8c8d;
	font-size: 18px;
	border-bottom: 1px solid #ecf0f1;
}

.block_content h3{
	margin: 0px;
}

.block_content p{
	margin: 0px;
}

.block_footer{
	padding:2px 10px;
		color:#bdc3c7;

}

.block_img img{
	width: 100%;
	display: block;
	 margin-left: auto;
	 margin-right: auto
}
