<div class='case_content_area'>

  <div class='case_content_function_area'>
    <div class='case_content_function'>
      <i class="fa fa-floppy-o"> Save</i>
    </div>
  </div>

  <div class='case_name case_content_area_item'>
    <h4><i class="fa fa-file-o"></i> Client Name:</h4>
    <input class='noborder_input green_input' type="text" value="{{current.client}}">
  </div>

  <div class='case_content_area_item'>
    <h4><i class="fa fa-file-o"></i> Campaign Name:</h4>
    <input class='noborder_input green_input' type="text" value="{{current.campaign}}">
  </div>

  <div class='case_content_area_item'>
    <h4><i class="fa fa-file-o"></i> Time:</h4>
    <input class='noborder_input green_input' type="text" value="{{current.date}}">
  </div>

  <div class='description case_content_area_item'>
    <h4><i class="fa fa-pencil-square-o"></i> The objective:</h4>
    <textarea class='noborder_textarea green_input' type="text">{{current.objective}}</textarea>
  </div>

  <div class='description case_content_area_item'>
    <h4><i class="fa fa-pencil-square-o"></i> The Challenges:</h4>
    <textarea class='noborder_textarea green_input' type="text">{{current.challenges}}</textarea>
  </div>

  <div class='description case_content_area_item'>
    <h4><i class="fa fa-pencil-square-o"></i> The Execution:</h4>
    <textarea class='noborder_textarea green_input' type="text">{{current.execution}}</textarea>
  </div>
</div>
